body{
	font-family: sans-serif;
	color: #fff;
	background: grey;
	background-size: cover;
	background-position: center;
	height: 95vh;
}

.login{
	background: rgba(0,0,0,0.7);
	border-radius: 4px;
	padding: 50px;
	width: 200px;
	margin: auto;
	margin-top: 80px;
	height: 350px;
}

h1{
	text-align: center;
	margin-top: 0px;
}

.login input[type=submit]{
	color: #fff;
	background-color: black;
}

.login input[type=reset]{
	color: #fff;
	background-color: black;
}

.login a{
	color: yellow;
}

.header{
	text-align: center;
	font-size: 20px;
	height: 70px;
	width: 	200px;
	margin-top: -50px;
	background-color: gold;
}

hr{
	color: blue;
	background-color: blue;
}