body{
	font-family: sans-serif;
	color: #fff;
	background: grey;
	background-size: cover;
	background-position: center;
	height: 95vh;
}

.form{
	background: rgba(0,0,0,0.7);
	border-radius: 4px;
	padding: 50px;
	width: 150px;
	margin: auto;
	margin-top: 250px;
	height: 50px;
}

h2{
	text-align: center;
	margin-top: 0px;
}