.header{
	background: red;
	padding: 2px 10px;
}

.navigation{
	padding: 5px;
	margin: 0;
	background: orange;
	overflow: 10px;
}

.badan{
	height: 450px
}

.badan .sidebar{
	background: yellow; 
	float: left;
	width: 25%;
	height: 100%
}

.badan .content{
	background: aqua;
	float: left;
	width: 75%;
	height: 100%
}

.footer{
	background: red;
	width: 99.54%;
	padding: 3px;
}