.header{
	background: red;
	padding: 2px 10px;
	height: 120px;
}

.navigation{
	padding: 3px;
	margin: 0 auto;
	background: #4bc970;
	background: orange;
}

ul{
	padding-left: 0px;
}

ul li{
	font-size: 18px;
	list-style: none;
	display: inline-block;
}

ul li a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px;
}

a:hover{
	background-color: #3ac162;
}

.badan{
	height: 500px;
}

.badan .sidebar{
	background: yellow; 
	float: left;
	width: 25%;
	height: 100%;
}

.badan .sidebar a{
	text-decoration: none;
	padding: 5px;
	width: 150px;
}

.badan .sidebar a:hover{
	background-color: white;
}

.badan .content{
	background: aqua;
	float: left;
	width: 75%;
	height: 100%;
}

.footer{
	background: red;
	width: 99.54%;
	padding: 3px;
}